/* Fonts ------------------------------------------------------------------- */

@font-face {
  font-family: "Newsreader";
  src: url("fonts/newsreader/Newsreader[opsz,wght].ttf") format("truetype-variations");
  font-display: swap;
}

@font-face {
  font-family: "Newsreader Italic";
  src: url("fonts/newsreader/Newsreader-Italic[opsz,wght].ttf") format("truetype-variations");
  font-display: swap;
}

/* Reset ------------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Variables  ------------------------------------------------------------------ */

:root {
  --font-family: "Newsreader", Times, serif;
  --font-family-italic: "Newsreader Italic", Times, serif;
  --color-background: #354550;
  --color-text: #e4e2d8;
  --color-subdued-text: #afb3af;
  --color-sage: #a8b5a2;
  --color-mauve: #b8a1a5;
  --color-sand: #cac2b5;
  --color-terracotta: #c79a8d;
}

/* Layout  ------------------------------------------------------------------ */

.container {
  margin: 0 auto;
  max-width: 30em;
}

body {
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
  font-feature-settings: "kern" 1,"liga" 1,"onum" 1;
  font-size: 1.125em;
  font-smoothing: antialiased;
  padding: 1.5em 1em 6em;
  font-variation-settings: "wght" 400, "opsz" 18;
}

@media (min-width: 36em) {
  body {
    font-size: 1.5em;
    font-variation-settings: "opsz" 24;
  }
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6em;
}

.name {
  font-family: var(--font-family-italic);
  text-decoration: none;
}

ul {
  display: flex;
  gap: 1.5em;
  list-style: none;
  margin-left: auto;
}

nav a {
  color: var(--color-subdued-text);
  text-decoration: none;
}

nav a.active {
  color: var(--color-text);
  position: relative;
}

nav a:hover {
  color: var(--color-text);
}

nav a.active::after {
  background-color: var(--color-mauve);
  border-radius: 3px;
  bottom: -0.25em;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  right: 0;
}

/* Intro  ------------------------------------------------------------------ */

.profile-picture {
  border-radius: 50%;
  height: 8em;
  margin-bottom: 2em;
  width: 8em;
}

h1 {
  margin-bottom: 0.5em;
}

h1 + p {
  margin-bottom: 3em;
  color: var(--color-subdued-text);
}

/* Article  ------------------------------------------------------------------ */

p {
  line-height: 1.5;
  margin-bottom: 1em;
  hanging-punctuation: first;
}

a {
  color: inherit;
  transition: 0.1s ease-in;
}

a:hover {
  color: var(--color-subdued-text);
}

/* Feedback ------------------------------------------------------------------ */
.quote {
  margin-bottom: 3em;
}

blockquote {
  display: block;
  hanging-punctuation: first;
  line-height: 1.5;
  margin-bottom: 1em;
  text-indent: -0.7ch;
}

footer {
  color: var(--color-subdued-text);
  font-size: 0.825em;
  font-family: var(--font-family-italic);
}

.social {
  display: flex;
  gap: 2em;
  margin-top: 6em;
}

h1 {
  font-size: 1.25em;
  font-variation-settings: "wght" 600, "opsz" 30;
}

/* Work ---------------------------------------------------------------------- */

.work-date {
  color: var(--color-subdued-text);
  font-size: 0.825em;
  font-family: var(--font-family-italic);
  margin-bottom: 1em;
}

.project {
  margin-bottom: 4em;
}

.project-image-wrapper {
  border-radius: 8px;
  height: min-content;
  margin-left: -6vw;
  margin-right: -6vw;
  max-height: 52vh;
  overflow: hidden;
  padding-left: 6vw;
  padding-right: 6vw;
  padding-top: 6vw;
}

.project-image-wrapper img {
  border-radius: 6px;
  max-width: 100%;
}

.project a {
  text-decoration: none;
}

.project a:hover {
  color: inherit;
}
.sage {
  background-color: var(--color-sage);
}
.mauve {
  background-color: var(--color-mauve);
}
.sand {
  background-color: var(--color-sand);
}
.terracotta {
  background-color: var(--color-terracotta);
}
